.SchedulerHeader{
    //
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
    .row{
      display: flex;
      box-sizing: border-box;
      padding-right: 16px;
      .fixed-mock-box{
      flex: 0 0 56px;
        // background-color: rgba(255,0,0,0.4);
      }
      .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% / 7);
        color: #70757a;
        .name{
          color: inherit;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 0.8px;
          line-height: 32px;
          margin-top: 6px;
        }
        .date {
          cursor: pointer;
          text-align: center;
          color: inherit;
          font-size: 26px;
          line-height: 46px;
          width: 46px;
          height: 46px;
          border-radius: 100%;
          &:hover{
            background-color: #f0f0f0;
          }
        }
        &.--today{
          color: #1a73e8;
          .date{
            background-color: #1a73e8;
            color: white;
          }
        }
      }
    }
  }