
.WeeklyScheduler{
  position:relative;
  // background: red;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 64px);
  user-select: none;
  .head{
    //
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
    .row{
      display: flex;
      box-sizing: border-box;
      padding-right: 16px;
      .fixed-box{
      flex: 0 0 56px;
        background-color: rgba(255,0,0,0.4);
      }
      .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% / 7);

        .day-name{
          color: #70757a;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 0.8px;
          line-height: 32px;
          margin-top: 6px;
        }
        .date {
          cursor: pointer;
          text-align: center;
          color: #70757a;
          font-size: 26px;
          line-height: 46px;
          width: 46px;
          height: 46px;
          border-radius: 100%;
          &:hover{
            background-color: #f0f0f0;
          }
        }
        &.--today{
          .day-name{
            color: #1a73e8;
          }
          .date{
            background-color: #1a73e8;
            color: white;
          }
        }
      }
    }
  }

  .body{
    display: flex;
    height: calc(100vh - 64px - 100px);
    width: 100%;
    overflow-y: scroll;
    .time-indicator{
      flex: 0 0 56px;
      .hour-box{
        border-left: none;
      }
      .time-name{
        text-align: center;
        position: absolute;
        padding: 0 8px;
        background: white;
        left: 0;
        bottom: -8px;
        color: #70757a;
        font-size: 10px;
        white-space: nowrap;
        word-break: keep-all;
      }
    }
    .box{
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      position: relative;
      height: fit-content;
      width: calc(100% / 7);
      .todobox{
        z-index: 11;
        position: absolute;
        width: 100%;
  
        background: rgba(254,202,0,0.4);
        border-radius: 5px;
        cursor: crosshair;
            box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
      }
      .saved-todobox{
        z-index: 11;
        position: absolute;
        width: 90%;
  
        background: #feca00;
        background: rgba(254,202,0,0.8);
        border-radius: 5px;
        cursor: pointer;
        // box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
        font-size: 12px;

        display: flex;
        flex-direction: column;


        &.--row{
          flex-direction: row;
        }

        .title{
          line-height: 15px;
        }
        .period{
          line-height: 15px;
        }
      }
      .now-indicator{
        background-color: red;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        &::before{
          position: absolute;
          z-index: 2;
          left: -6px;
          top: 0;
          bottom: 0;
          margin: auto;
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 100%;
          display: inline-block;
          background-color: red;
        }
      }
    }

    .hour-box{
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
  }
}