.IconButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  &:hover{
    background: rgba(0,0,0,0.05);
  }
}